/*----------------------Home view-----------------------------*/
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .logo {
  align-self: center;
  width: 350px;
}

.home > h1 {
  letter-spacing: 2px;
  font-weight: 1500;
  font-size: 70px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
}

.home .homeButtons {
  display: flex;
  justify-content: center;
}

.home button {
  width: 200px;
}
/*----------------------Logout card-----------------------------*/
.profile {
  position: fixed;
  top: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.profile > button{
  align-self: center;
  transform: scale(0.6);
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 99px;
  font-size: 25px;
  color: rgb(255, 250, 250);
  background-color: #383838;
  border: 0px;
  cursor: pointer;
}

.userImg {
  align-self: center;
  object-fit: cover;
  width:80px;
  height:80px;
  border-radius: 50%;
}

/*----------------------Create/Join view-----------------------------*/

.backButton {
  position: fixed;
  top: 30px;
  left: 30px;
}

.backButton button {
  width: 100px;
}

.createjoin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createjoin > h1 { 
  font-weight: 1500;
  font-size: 70px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
}

.createjoin > button {
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 99px;
  font-size: 16px;
  color: rgb(255, 250, 250);
  background-color: #383838;
  border: 0px;
  margin: 0px;
  cursor: pointer;
}

.createjoin input {
  width: 250px;
}

.createjoin p {
  margin-top: 40px;
}

.createjoin .buttons {
  display: flex;
  justify-content: center;
}
