/*----------------------Login view-----------------------------*/
.login {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.login > img {
  align-self: center;
  width: 350px;
}

.login > .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login >  h2 {
  align-self:center;
  margin: 0 auto;
  max-width: 650px;
  font-size: 21px;
  color: #111111;
  font-style: italic;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}

.login > p {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
}

.login > input {
  width: 300px;
  align-self:center;
}

.login input:-webkit-autofill {
  font-size: 17px;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.login > button {
  width: 200px;
}

.login span {
  margin-bottom: 20px;
  text-align: center;
}

.login   a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.login  a:hover {
  color: #d0167a;
  text-decoration: none;
  font-weight: bold;
}

.description {
  margin: 10px;
}
/*----------------------Sign up-----------------------------*/
.login h1 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 20px;
}

.login .signupButton {
  width: 270px;
  margin-top: 30px;
}

.login .inputComment {
  font-style: italic;
  font-size: 15px;
  font-weight: 100;
}

/*----------------------Spotify connect-----------------------------*/
.spotifyConnect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotifyConnect > h1 {
  font-weight: 1500;
  font-size: 60px;
  color: white;
}

.spotifyConnect >  h2 {
  align-self:center;
  margin: 0 auto;
  max-width: 550px;
  font-size: 21px;
  color: #111111;
  font-style: italic;
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.spotifyConnect img {
  margin-top: 220px;
  margin-bottom: 20px;
  height: 200px;
}

.spotifyConnect button {
  align-self: center;
  width: 300px;
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  .login img {
    width: 70%;
  }

  .login h2 {
    margin: 10px;
  }

  .login input {
      width: 80%;
  }

  .spotifyConnect img {
    width: 60%;
    height: auto;
  }

}
