
.login h1{
    color: #ffffff;
    font-size: 70px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
  }
  
  .login > img {
    width: auto;
    height: 200px;
  }
  
  .login > a {
    padding: 20px;
    border-radius: 99px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: #1db954;
  }