/*----------------------Login view-----------------------------*/
.login {
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.login > img {
  align-self: center;
  width: 350px;
}

.login > .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login >  h2 {
  align-self:center;
  margin: 0 auto;
  max-width: 550px;
  font-size: 20px;
  color: #111111;
  font-style: italic;
  padding-bottom: 40px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

.login > p {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 300;
  text-align: center;
}

.login > input {
  width: 300px;
  align-self:center;
  margin-bottom: 15px;
}

.login > button {
  width: 200px;
}

.login span {
  text-align: center;
}

.login   a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.login  a:hover {
  color: #d0167a;
  text-decoration: none;
  font-weight: bold;
}

.description {
  margin: 10px;
}

.errorMessage {
  color: red
}
/*----------------------Sign up-----------------------------*/
.login .signupButton {
  width: 270px;
  margin-top: 30px;
}



/*----------------------Spotify connect-----------------------------*/
.spotifyConnect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotifyConnect > h1 {
  font-weight: 1500;
  font-size: 60px;
  padding-bottom: 40px;
  color: white;
}

.spotifyConnect >  h2 {
  align-self:center;
  margin: 0 auto;
  max-width: 550px;
  font-size: 20px;
  color: #111111;
  font-style: italic;
  padding-bottom: 40px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

.spotifyConnect img {
  height: 100px;
  padding-bottom: 10%;
}

.spotifyConnect button {
  align-self: center;
}