/*----------------------Player Sidebar-----------------------------*/
.playersSidebar {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
  
  .userImage img {
    object-fit: cover;
    width:70px;
    height:70px;
    border-radius: 50%;
    
  }
  
  .playerCard  .userImage {
    width:70px;
    height:70px;
    margin-right: 30px;
  }

  .playerCard{
    display: flex;
  }

  .light {
    position: absolute;
    top: 7px;
    right: 30px;
    height: 40px;
  }

.boxContainer{
    position: relative;
    display: flex;
}
  
.posistionbox{
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 15px;
    width: 200px;
    height: 130px;
    box-shadow: 0px 0px 10px #000000;
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;  
  }

.answerText{
  word-wrap: break-word;
  font-size: 15px;
  font-style: italic; 
  max-width: 160px;
  margin-bottom: 30px;
}

  .playerCard > .userInfo {
    font-size: 14px;
    padding-top: 10px;
  }
  
  .posistionbox h1{
    font-size: 30px;
  }