.room{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 720px;
}

.roomname{
  text-align: center;
  margin-top: 30px;
  font-size: 80px;
}


.start > button:hover {
  background-color: #111111;
}

.start button:disabled,
button[disabled]{
  border: 1px solid #e0e0e0;
  background-color: #cccccc;
  color: #8f8f8f;
  cursor: default
}

.exit{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.start{
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.settings{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-self: center;
  padding-top: 30px;
  background: #383838;
  width: 500px;
  border: 1px solid #383838;
  border-radius: 30px;
}

.settings * label{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}

*.range-slider{
  align-self: center;
  justify-items: center;
  margin-bottom: 30px;
}

*.range{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 300px;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  background: white;
  height: 16px;
  border:1px solid #383838;
  border-radius: 50px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid transparent;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  max-width: 80px;
  position: relative;
  bottom: 8px;
  background-color:rgb(255, 176, 189);
  cursor: grab;
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
