.room{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 720px;
}

.roomname{
  text-align: center;
  margin-top: 100px;
  font-size: 80px;
  color: #fff;
  margin-bottom: 50px;
}


.start button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #8f8f8f;
  cursor: default
}

.start button {
  width: 180px;
}

.exit{
  position: fixed;
  top: 30px;
  left: 30px;
}

.start{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.settings{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 30px;
  background: #383838;
  width: 500px;
  border-radius: 30px;
}

.settings * label{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}

*.range-slider{
  align-self: center;
  justify-items: center;
  margin-bottom: 30px;
}

*.range{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 300px;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  background: white;
  height: 10px;
  border:1px solid #383838;
  border-radius: 50px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid pink;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  max-width: 80px;
  position: relative;
  bottom: 6px;
  background-color: #383838;
  cursor: grab;
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
